#root {
  height: 100vh;
  /* display: grid;
  grid-template-columns: 50% 50%; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}
body {
  margin: 0;
  background-color: hsl(229, 24%, 87%);
}
#sidebar {
  display: flex;
  flex-direction: column;
  background-image: url(assets/images/bg-sidebar-desktop.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 45%;
  height: 100%;
  color: white;
}
.listLinks {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
#sidebar ul {
  list-style: none;
}
#detail {
  display: flex;

  flex-direction: row;
  width: 50%;
  height: 100%;
}
.card {
  font-family: "Ubuntu", sans-serif;
  display: flex;
  width: 70vw;
  height: 80vh;
  justify-content: space-around;
  align-items: center;
  background-color: hsl(217, 100%, 97%);
  padding: 0.5rem;
  border-radius: 1rem;
}
.buttonChoose {
  display: flex;
  align-items: center;
}
.buttonChoose button {
  border-radius: 100%;
  border: none;
  width: 2vw;
  height: 4vh;
  background-color: rgba(240, 248, 255, 0);
  border: solid 1px white;
  color: white;
  font-weight: bold;
  margin-right: 0.7rem;
  cursor: pointer;
}
.buttonChoose button:hover {
  background-color: hsl(206, 94%, 87%);
  color: black;
}
.txtChoose {
  display: flex;
  flex-direction: column;
}
.txtChoose p {
  margin: 0;
}
.txtChoose span {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.508);
}
.formInfo {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
