#root {
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}
body {
  margin: 0;
  background-color: hsl(229, 24%, 87%);
}
#sidebar {
  display: flex;
  flex-direction: column;
  background-image: url(assets/images/bg-sidebar-desktop.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 45%;
  height: 100%;
  color: white;
}
.listLinks {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
#sidebar ul {
  list-style: none;
}
#detail {
  display: flex;

  flex-direction: row;
  width: 50%;
  height: 100%;
  font-weight: bold;
  color: hsl(213, 74%, 27%);
}
.card {
  font-family: "Ubuntu", sans-serif;
  display: flex;
  width: 70vw;
  height: 80vh;
  justify-content: space-around;
  align-items: center;
  background-color: hsl(217, 100%, 97%);
  padding: 0.5rem;
  border-radius: 1rem;
}
.buttonChoose {
  display: flex;
  align-items: center;
}
.buttonChoose button {
  border-radius: 100%;
  border: none;
  width: 2vw;
  height: 4vh;
  background-color: rgba(240, 248, 255, 0);
  border: solid 1px white;
  color: white;
  font-weight: bold;
  margin-right: 0.7rem;
  cursor: pointer;
}
.buttonChoose button:hover {
  background-color: hsl(206, 94%, 87%);
  color: black;
}
.txtChoose {
  display: flex;
  flex-direction: column;
}
.txtChoose p {
  margin: 0;
}
.txtChoose span {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.508);
}
.formInfo {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.containerNextButton {
  height: 15vh;
  display: flex;
  justify-content: end;
  align-items: end;
}
.nextButton {
  width: 5vw;
  height: 4vh;
  border: none;
  background-color: hsl(213, 74%, 27%);
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
.nextButton:hover {
  background-color: hsl(213, 78%, 54%);
}
.formInfo input {
  height: 5vh;
  border-radius: 5px;
  border: solid 1px rgba(0, 0, 255, 0.29);
  outline: none;
  box-sizing: border-box;
}
.formInfo input:focus {
  border: navy solid 2px;
}
.containerPlan {
  display: flex;
  flex-direction: column;
}
.arcadeImg {
  background-image: url(assets/images/icon-arcade.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 40;
  height: 40;

  padding: 25px;
}
.productsCards {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
}
.cardPlan {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  width: 10vw;
  height: 30vh;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cardPlan:hover {
  box-shadow: rgba(1, 1, 199, 0.25) 0px 13px 27px -5px,
    rgba(5, 18, 59, 0.3) 0px 8px 25px -8px;
}
.advancedPic {
  background-image: url(assets/images/icon-advanced.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 40;
  height: 40;

  padding: 25px;
}
.proPic {
  background-image: url(assets/images/icon-pro.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 40;
  height: 40;

  padding: 25px;
}
.monathlyOrYearlyContainer {
  display: flex;

  background-color: rgba(128, 128, 128, 0.097);

  align-items: center;
  border-radius: 1rem;
  height: 10vh;
  margin-bottom: 7vh;
  justify-content: center;
}
.buttonsSelectPlan {
  display: flex;

  justify-content: space-between;
  align-items: center;

  margin-bottom: 2vh;
}
.goBackBtn {
  border: none;
  color: hsl(213, 74%, 27%);
  font-weight: bold;
  cursor: pointer;
}
.goBackBtn:hover {
  color: hsla(213, 90%, 57%, 0.671);
}
